  <div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
										    
	 <!-- Modal content-->
		<div class="modal-content">

		<div class="modal-header">
		 <button type="button" class="close" data-dismiss="modal">&times;</button>
		 <h4 class="modal-title"> Tambah Data Pelanggan </h4>
		</div>

				<div class="modal-body">

				 <form role="form" name='myform' ng-init="step = 1">
				 	<div ng-show="step==1">

				  <div class="form-group">
				    <label for="nama">Nama:</label>
				    <input type="text" class="form-control" ng-model="pelangganText.nama">
				  </div>
				  <div class="form-group">
				    <label for="alamat">Alamat:</label>
				    <input type="text" class="form-control" ng-model="pelangganText.alamat">
				  </div>
				  <div class="form-group">
				    <label for="telp">Telepon:</label>
				    <input type="number" class="form-control" ng-model="pelangganText.telp"
           			min="0" max="99" required>
				   <!-- <input type="text" class="form-control" ng-model="pelangganText.telp"> -->
				  </div>

				  <div class="form-group" ng-form="step1form">
				    <label for="email">Email:</label>
				    <input type="email" class="form-control" ng-model="pelangganText.email" required>
				  </div>

				  <button ng-disabled="!step1form.$valid" class="btn btn-primary" ng-click="simpanData()">Simpan</button>

				 </div>
				</form>
										          							
		        </div>

		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
		        </div>

		      </div>
		      
		    </div>
		  </div>